* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

svg {
  position: absolute;
  display: flex;
  transform-origin: center;
  transition: transform 0s ease;
}

svg.transition {
  transition: transform 1s ease;
}
