* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

ul {
  position: absolute;
  display: flex;
  transform-origin: center;
  transition: transform 0s ease;
}

ul.transition {
  transition: transform 1s ease;
}

li {
  height: 2200px;
  width: 4px;
  background: black;
  margin-right: 4px;
  display: inline-block;
}
